header {
    height: 3rem;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    display: flex;
    flex: 1 0 1;
    line-height: 3em;
}



header ul {
    list-style: none;
    display: flex;
    padding-right: 2em;
}

header li {
    display: flex;
}

header a {
    cursor: pointer;
    padding: 0 2em;
    background: rgb(255, 255, 255);
}

header a:hover {
    color: green;
    background: white;
}

.logo {
    padding-left: 2em;

}